<?xml version="1.0" encoding="utf-8" ?>
<skinSetting displayName="默认主题">
  <!--皮肤图片资源声明段，只有此段中声明的图片，才会被加载-->
  <imageSources>
    <!--贴图资源-->
    <image name="image_bottomIcon" fileName="尾部icon.png"></image>

    <!--背景资源-->
    <image name="background-normal" fileName="bg\bg_normal.png"></image>
    <image name="background-max" fileName="bg\bg_max.png"></image>
    <image name="horiTabHolderBG" fileName="bg\HoriTabHolderWindowGB.png"></image>
    <image name="vertiTabHolderBG" fileName="bg\VertiTabHolderWindowGB.png"></image>
    <!--系统按钮资源-->
    <image name="RestoreButton_Normal" fileName="最大缩小按钮\默认状态\icon3.png"></image>
    <image name="RestoreButton_Hover" fileName="最大缩小按钮\鼠标触摸状态\iconSel3.png"></image>
    <image name="RestoreButton_Down" fileName="最大缩小按钮\鼠标按下状态\iconDown3.png"></image>
    
    <image name="MinButton_Normal" fileName="最大缩小按钮\默认状态\icon2.png"></image>
    <image name="MinButton_Hover" fileName="最大缩小按钮\鼠标触摸状态\iconSel2.png"></image>
    <image name="MinButton_Down" fileName="最大缩小按钮\鼠标按下状态\iconDown2.png"></image>
    
    <image name="MaxButton_Normal" fileName="最大缩小按钮\默认状态\icon3.png"></image>
    <image name="MaxButton_Hover" fileName="最大缩小按钮\鼠标触摸状态\iconSel3.png"></image>
    <image name="MaxButton_Down" fileName="最大缩小按钮\鼠标按下状态\iconDown3.png"></image>
    
    <image name="CloseButton_Normal" fileName="最大缩小按钮\默认状态\icon4.png"></image>
    <image name="CloseButton_Hover" fileName="最大缩小按钮\鼠标触摸状态\iconSel4.png"></image>
    <image name="CloseButton_Down" fileName="最大缩小按钮\鼠标按下状态\iconDown4.png"></image>

    <image name="MenuButton_Normal" fileName="最大缩小按钮\默认状态\icon1.png"></image>
    <image name="MenuButton_Hover" fileName="最大缩小按钮\鼠标触摸状态\iconSel1.png"></image>
    <image name="MenuButton_Down" fileName="最大缩小按钮\鼠标按下状态\iconDown1.png"></image>
    
    <!--一级菜单按钮资源-->
    <image name="Menu1_Normal" fileName="栏目按钮\menu1-来宾消费-normal.png"></image>
    <image name="Menu1_Hover" fileName="栏目按钮\menu1-来宾消费-hover.png"></image>
    <image name="Menu1_Down" fileName="栏目按钮\menu1-来宾消费-down.png"></image>

    <image name="Menu2_Normal" fileName="栏目按钮\menu2-电话预定-normal.png"></image>
    <image name="Menu2_Hover" fileName="栏目按钮\menu2-电话预定-hover.png"></image>
    <image name="Menu2_Down" fileName="栏目按钮\menu2-电话预定-down.png"></image>

    <image name="Menu3_Normal" fileName="栏目按钮\menu3-会员中心-normal.png"></image>
    <image name="Menu3_Hover" fileName="栏目按钮\menu3-会员中心-hover.png"></image>
    <image name="Menu3_Down" fileName="栏目按钮\menu3-会员中心-down.png"></image>

    <image name="Menu4_Normal" fileName="栏目按钮\menu4-宣传营销-normal.png"></image>
    <image name="Menu4_Hover" fileName="栏目按钮\menu4-宣传营销-hover.png"></image>
    <image name="Menu4_Down" fileName="栏目按钮\menu4-宣传营销-down.png"></image>

    <image name="Menu5_Normal" fileName="栏目按钮\menu5-免费短信-normal.png"></image>
    <image name="Menu5_Hover" fileName="栏目按钮\menu5-免费短信-hover.png"></image>
    <image name="Menu5_Down" fileName="栏目按钮\menu5-免费短信-down.png"></image>

    <image name="Menu6_Normal" fileName="栏目按钮\menu6-商品管理-normal.png"></image>
    <image name="Menu6_Hover" fileName="栏目按钮\menu6-商品管理-hover.png"></image>
    <image name="Menu6_Down" fileName="栏目按钮\menu6-商品管理-down.png"></image>

    <image name="Menu7_Normal" fileName="栏目按钮\menu7-营业报表-normal.png"></image>
    <image name="Menu7_Hover" fileName="栏目按钮\menu7-营业报表-hover.png"></image>
    <image name="Menu7_Down" fileName="栏目按钮\menu7-营业报表-down.png"></image>

    <image name="Menu8_Normal" fileName="栏目按钮\menu8-系统设置-normal.png"></image>
    <image name="Menu8_Hover" fileName="栏目按钮\menu8-系统设置-hover.png"></image>
    <image name="Menu8_Down" fileName="栏目按钮\menu8-系统设置-down.png"></image>

    <!--一横向导航按钮背景资源-->
    <image name="HoriTab_Normal" fileName="横纵导航按钮\横向普通-#436411.png"></image>
    <image name="HoriTab_Hover" fileName="横纵导航按钮\横向触摸-#436411.png"></image>
    <image name="HoriTab_Down" fileName="横纵导航按钮\横向选中-#000000加粗.png"></image>
    <!--一纵向导航按钮背景资源-->
    <image name="VertiTab_Normal" fileName="横纵导航按钮\纵向普通-#080808.png"></image>
    <image name="VertiTab_Hover" fileName="横纵导航按钮\纵向触摸-#080808.png"></image>
    <image name="VertiTab_Down" fileName="横纵导航按钮\纵向选中-#ffffff.png"></image>
    

  </imageSources>
  <!--皮肤参数配置段，存储皮肤各种配置参数，例如配色，字体大小，线条粗细等信息-->
  <skinParameters>
  </skinParameters>
  <!--皮肤样式配置段-->
  <styles>
    <!--颜色的三种表示法：
        Color:XXX         使用Color类的XXX成员颜色
        SystemColors:XXX  使用SystemColors类的XXX成员颜色
        RGB:a,b,c         使用RGB表示法取色，abc为R,G,B取值
        其他格式将导致解析异常
      -->
    
    <!--全局字体配置节，所有用到的字体都在此节中配置-->
    <fonts>
      <!--LabelStyle用到的字体-->
      <font name="labelFont_Red" backColor="Color:Transparent" foreColor="Color:Red" fontFamily="微软雅黑" fontSize="9"
            fontBold="true" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <font name="labelFont_Blue" backColor="Color:Transparent" foreColor="Color:Blue" fontFamily="微软雅黑" fontSize="9"
            fontBold="true" fontItalic="true" fontUnderline="true" fontStrikeout="false"/>
      <!--TextBoxStyle用到的字体-->
      <font name="textboxFont_Default" backColor="RGB:255,0,255" foreColor="Color:Blue" fontFamily="微软雅黑" fontSize="9"
            fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <!--ButtonStyle用到的字体-->
      <font name="buttonFont_Default" backColor="Color:Yellow" foreColor="Color:Black" fontFamily="微软雅黑" fontSize="9"
            fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <font name="buttonFont_Default2" backColor="Color:White" foreColor="Color:Black" fontFamily="微软雅黑" fontSize="9"
            fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <!--LayoutTitle用到的字体:用作Layot title字体时，backColor无效-->
      <font name="LayoutTitle_Default" backColor="" foreColor="Color:Yellow" fontFamily="微软雅黑" fontSize="9"
         fontBold="true" fontItalic="false" fontUnderline="false" fontStrikeout="false" />

      <!--DUIButton文字用到的字体-->
      <font name="horizontalButtonFont_Normal" backColor="Color:Transparent" foreColor="RGB:67,100,17" fontFamily="微软雅黑" fontSize="9"
         fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <font name="horizontalButtonFont_Hover" backColor="Color:Transparent" foreColor="RGB:67,100,17" fontFamily="微软雅黑" fontSize="9"
         fontBold="false" fontItalic="true" fontUnderline="false" fontStrikeout="false" />
      <font name="horizontalButtonFont_Down" backColor="Color:Transparent" foreColor="RGB:0,0,0" fontFamily="微软雅黑" fontSize="9"
         fontBold="true" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <font name="verticalButtonFont_Normal" backColor="Color:Transparent" foreColor="RGB:8,8,8" fontFamily="微软雅黑" fontSize="9"
         fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <font name="verticalButtonFont_Hover" backColor="Color:Transparent" foreColor="RGB:8,8,8" fontFamily="微软雅黑" fontSize="9"
         fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <font name="verticalButtonFont_Down" backColor="Color:Transparent" foreColor="RGB:255,255,255" fontFamily="微软雅黑" fontSize="9"
         fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
    </fonts>

    <!--Label样式配置节-->
    <labelStyles>
      <labelStyle name="Red" fontName="labelFont_Red"/>
      <labelStyle name="Blue" fontName="labelFont_Blue"/>
    </labelStyles>

    <!--TextBox样式配置节-->
    <textboxStyles>
      <!--borderStyle取值：None,FixedSingle,Fixed3D-->
      <textboxStyle name="default" borderStyle="FixedSingle" fontName="textboxFont_Default" />
    </textboxStyles>

    <!--Button样式配置节-->
    <buttonStyles>
      <!--flatStyle取值：Flat,Popup,Standard,System-->
      <buttonStyle name="default" flatStyle="Standard" fontName="buttonFont_Default" />
      <buttonStyle name="default2" flatStyle="Standard" fontName="buttonFont_Default2"/>
    </buttonStyles>
  </styles>
</skinSetting>