<?xml version="1.0" encoding="utf-8" ?>
<skinSetting displayName="默认主题">
  <!--皮肤图片资源声明段，只有此段中声明的图片，才会被加载-->
  <imageSources>
    <!--标题图标-->
    <image name="image_title" fileName="ico.png"></image>
    <!--贴图资源-->
    <image name="image_apple" fileName="apple.png"></image>
    <image name="image1" fileName="test-1.png"></image>
    <image name="image2" fileName="test-2.png"></image>
    <image name="baidu" fileName="baidu.gif"></image>
    <!--背景资源-->
    <image name="background-normal" fileName="background-normal.png"></image>
    <image name="background-max" fileName="background-max.png"></image>
    <image name="background-test" fileName="background-test.png"></image>
	  <image name="background-msw" fileName="simple_msw.png"></image>
	  <image name="background-x11" fileName="simple_x11.png"></image>
	  <image name="background-gtk" fileName="simple_gtk.png"></image>
    <!--系统按钮资源-->
    <image name="RestoreButton_Normal" fileName="IMRestoreButton_Normal.bmp"></image>
    <image name="RestoreButton_Hover" fileName="IMRestoreButton_Hover.bmp"></image>
    <image name="RestoreButton_Down" fileName="IMRestoreButton_Down.bmp"></image>
    
    <image name="MinButton_Normal" fileName="IMMinButton_Normal.bmp"></image>
    <image name="MinButton_Hover" fileName="IMMinButton_Hover.bmp"></image>
    <image name="MinButton_Down" fileName="IMMinButton_Down.bmp"></image>
    
    <image name="MaxButton_Normal" fileName="IMMaxButton_Normal.bmp"></image>
    <image name="MaxButton_Hover" fileName="IMMaxButton_Hover.bmp"></image>
    <image name="MaxButton_Down" fileName="IMMaxButton_Down.bmp"></image>
    
    <image name="CloseButton_Normal" fileName="IMCloseButton_Normal.bmp"></image>
    <image name="CloseButton_Hover" fileName="IMCloseButton_Hover.bmp"></image>
    <image name="CloseButton_Down" fileName="IMCloseButton_Down.bmp"></image>

    <!--普通按钮资源-->
    <image name="VertivalButton_Normal" fileName="纵向普通-#080808.png"></image>
    <image name="VertivalButton_Hover" fileName="纵向触摸-#080808.png"></image>
    <image name="VertivalButton_Down" fileName="纵向选中-#ffffff.png"></image>
    
    
  </imageSources>
  <!--皮肤参数配置段，存储皮肤各种配置参数，例如配色，字体大小，线条粗细等信息-->
  <skinParameters>
    <parameter name="listview1-location-x" value="17"/>
    <parameter name="listview1-location-y" value="147"/>
    <parameter name="listview1-location-width" value="452"/>
    <parameter name="listview1-location-height" value="130"/>
    <parameter name="button1-location-x" value="475"/>
    <parameter name="button1-location-y" value="147"/>
    <parameter name="button2-location-x" value="475"/>
    <parameter name="button2-location-y" value="176"/>
  </skinParameters>
  
  <!--皮肤样式配置段-->
  <styles>
    <!--颜色的三种表示法：
        Color:XXX         使用Color类的XXX成员颜色
        SystemColors:XXX  使用SystemColors类的XXX成员颜色
        RGB:a,b,c         使用RGB表示法取色，abc为R,G,B取值
        其他格式将导致解析异常
      -->
    <!--全局字体配置节，所有用到的字体都在此节中配置-->
    <fonts>
      <!--LabelStyle用到的字体-->
      <font name="labelFont_Red" backColor="Color:Transparent" foreColor="Color:Black" fontFamily="微软雅黑" fontSize="9"
            fontBold="true" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <font name="labelFont_Blue" backColor="Color:Transparent" foreColor="Color:Black" fontFamily="微软雅黑" fontSize="9"
            fontBold="true" fontItalic="true" fontUnderline="true" fontStrikeout="false"/>
      <!--TextBoxStyle用到的字体-->
      <font name="textboxFont_Default" backColor="Color:Gray" foreColor="Color:Gray" fontFamily="微软雅黑" fontSize="9"
            fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <!--ButtonStyle用到的字体-->
      <font name="buttonFont_Default" backColor="Color:Gray" foreColor="Color:Black" fontFamily="微软雅黑" fontSize="9"
            fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <font name="buttonFont_Default2" backColor="Color:White" foreColor="Color:Black" fontFamily="微软雅黑" fontSize="9"
            fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <!--LayoutTitle用到的字体:用作Layot title字体时，backColor无效-->
      <font name="LayoutTitle_Default" backColor="" foreColor="Color:Gray" fontFamily="微软雅黑" fontSize="9"
         fontBold="true" fontItalic="false" fontUnderline="false" fontStrikeout="false" />

      <!--DUIButton纵向导航文字用到的字体-->
      <font name="verticalButtonFont_Normal" backColor="Color:Transparent" foreColor="RGB:8,8,8" fontFamily="微软雅黑" fontSize="9"
         fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <font name="verticalButtonFont_Hover" backColor="Color:Transparent" foreColor="RGB:8,8,8" fontFamily="微软雅黑" fontSize="9"
         fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
      <font name="verticalButtonFont_Down" backColor="Color:Transparent" foreColor="RGB:255,255,255" fontFamily="微软雅黑" fontSize="9"
         fontBold="false" fontItalic="false" fontUnderline="false" fontStrikeout="false" />
    </fonts>
    
    <!--Label样式配置节-->
    <labelStyles>
      <labelStyle name="Red" fontName="labelFont_Red"/>
      <labelStyle name="Blue" fontName="labelFont_Blue"/>
    </labelStyles>
    
    <!--TextBox样式配置节-->
    <textboxStyles>
      <!--borderStyle取值：None,FixedSingle,Fixed3D-->
      <textboxStyle name="default" borderStyle="FixedSingle" fontName="textboxFont_Default" />
    </textboxStyles>
    
    <!--Button样式配置节-->
    <buttonStyles>
      <!--flatStyle取值：Flat,Popup,Standard,System-->
      <buttonStyle name="default" flatStyle="Standard" fontName="buttonFont_Default" />
      <buttonStyle name="default2" flatStyle="Standard" fontName="buttonFont_Default2"/>
    </buttonStyles>
  </styles>
</skinSetting>